azure-search-documents==11.6.0b4
azure-storage-blob
azure-ai-formrecognizer
azure-search-documents
azure-cognitiveservices-speech
openai
azure-search-documents
azure-storage-blob
streamlit



#to activate the venv environment, run this:
#.venv\Scripts\Activate.ps1